{% extends "base.html.twig" %}
    {% block body %}
    <div class="story-content">
        <h2 class="text-center">A Job Searching Platform</h2>
        <hr class="d-none d-sm-block">

        {% block jobsPlatform_body %}
        {% endblock jobsPlatform_body %}
    </div>
{% endblock body %}