{% extends "base.html.twig" %}
{# Page Body
------------------------------------------------------------------------------------------------------------------ #}
{% block body %}
<div class="story-content">
    <h2>Oops! An Error Occurred: {{ status_text }}</h2>
    <hr class="d-none d-sm-block">

    <div class="row">
        <div class="col-12 pt-30">
            <p class="lead">
                The server returned a "{{ status_code }} {{ status_text }}".
            </p>
            <p>
                Access to requested page was denied. If you were trying to delete a post, 
                please note that only ADMIN users are allowed to do so. <br/>
                                
                Otherwise, please let us know what you were doing when this error occurred.
                We will fix it as soon as possible. Sorry for any inconvenience caused.
            </p>
        </div>
    </div>
</div>
{% endblock body %}
{# ---------------------------------------------------------------------------------------------------------------------------- #}