{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Hello {{ userName }}</h1>
        <p>You are learning fast. Soon you'll be a professionnal... (from: app/Ressources/Views)</p>
    </div>
{% endblock %}

