{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <br /><br /><br /><br /><br /><br />
    <h1>Hello {{ userName }}</h1>
    <p>You are learning fast. Soon you'll be a professionnal... (from: JobsPlatform/Ressources/Default/Views)</p>
    yay!
</div>
{% endblock %}