{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>
        We are currently building your profile. It will be available soon. <br/>
        Thank you for your understanding...
    </p>
{% endblock fos_user_content %}
